In [1]:
# ---------------------------------------
# 1. Create Sample Dataset (CSV)
# ---------------------------------------
import pandas as pd

data = """customer_id,data_gb,call_mins
1001,5.2,230
1002,12.5,410
1003,7.8,320
1004,15.6,580
1005,3.4,120
1006,9.0,360
1007,2.5,80
1008,11.0,400
1009,18.3,600
1010,4.0,200
"""

# Save dataset to file
open("telecom_usage.csv", "w").write(data)
print("Sample telecom_usage.csv created successfully!")

Sample telecom_usage.csv created successfully!

In [2]:
# ---------------------------------------
# 2. Load the Dataset
# ---------------------------------------
import pandas as pd

df = pd.read_csv("telecom_usage.csv")
print("Data Loaded Successfully!")
df.head()

Data Loaded Successfully!

   customer_id  data_gb  call_mins
0         1001      5.2        230
1         1002     12.5        410
2         1003      7.8        320
3         1004     15.6        580
4         1005      3.4        120

In [3]:
# ---------------------------------------
# 3. Import Required Libraries
# ---------------------------------------
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns

# Optional: Better plotting style
sns.set(style="whitegrid")

In [4]:
# ---------------------------------------
# 4. Apply K-Means Clustering
# ---------------------------------------
kmeans = KMeans(n_clusters=3, random_state=0)

# Train clustering model on 2 columns
kmeans.fit(df[['data_gb', 'call_mins']])

# Add cluster labels to dataframe
df['cluster'] = kmeans.labels_

# Show final clustered data
df

C:\Users\hp\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
C:\Users\hp\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1436: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

   customer_id  data_gb  call_mins  cluster
0         1001      5.2        230        1
1         1002     12.5        410        0
2         1003      7.8        320        0
3         1004     15.6        580        2
4         1005      3.4        120        1
5         1006      9.0        360        0
6         1007      2.5         80        1
7         1008     11.0        400        0
8         1009     18.3        600        2
9         1010      4.0        200        1